<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>FeelingIndex</key>
            <string>0</string>
            <key>FeelingName</key>
            <string>Love</string>
            <key>FeelingSubTitle</key>
            <string>Love and Affection</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Affection</string>
                <string>Lust</string>
                <string>Longing</string>
                <string>Adoration</string>
                <string>Fondness</string>
                <string>Attraction</string>
                <string>Caring</string>
                <string>Desire</string>
                <string>Passion</string>
                <string>Sentimental</string>
                <string>Infatuation</string>
                <string>Arousal</string>
                <string>Attentive</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>0</string>
            <key>FeelingInactiveIconID</key>
            <string>10</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>1</string>
            <key>FeelingName</key>
            <string>Confident</string>
            <key>FeelingSubTitle</key>
            <string>Confident and strong</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Proud</string>
                <string>Strong</string>
                <string>Bold</string>
                <string>Daring</string>
                <string>Fearless</string>
                <string>Determined</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>1</string>
            <key>FeelingInactiveIconID</key>
            <string>11</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>2</string>
            <key>FeelingName</key>
            <string>Happy</string>
            <key>FeelingSubTitle</key>
            <string>Happiness and Joy</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Amusement</string>
                <string>Bliss</string>
                <string>Cheerful</string>
                <string>Glee</string>
                <string>Joyful</string>
                <string>Delighted</string>
                <string>Enjoyment</string>
                <string>Gladness</string>
                <string>Jubilation</string>
                <string>Elation</string>
                <string>Satisfaction</string>
                <string>Euphoria</string>
                <string>Inspired</string>
                <string>Amazed</string>
                <string>Excited</string>
                <string>Enthusiastic</string>
                <string>Astonished</string>
                <string>Surprised</string>
                <string>Excited</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>2</string>
            <key>FeelingInactiveIconID</key>
            <string>12</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>3</string>
            <key>FeelingName</key>
            <string>Anxiety</string>
            <key>FeelingSubTitle</key>
            <string>Anxious and Stressed</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Nervous</string>
                <string>Tense</string>
                <string>Uneasiness</string>
                <string>Apprehension</string>
                <string>Worry</string>
                <string>Distress</string>
                <string>Dread</string>
                <string>Panic</string>
                <string>Paranoia</string>
                <string>Frustration</string>
                <string>Overwhelmed</string>
                <string>Bashful</string>
                <string>Irritable</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>3</string>
            <key>FeelingInactiveIconID</key>
            <string>13</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>4</string>
            <key>FeelingName</key>
            <string>Anger</string>
            <key>FeelingSubTitle</key>
            <string>Anger and Resentment</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Rage</string>
                <string>Disgust</string>
                <string>Envy</string>
                <string>Torment</string>
                <string>Jealousy</string>
                <string>Contempt</string>
                <string>Bitterness</string>
                <string>Hate</string>
                <string>Resentment</string>
                <string>Irritation</string>
                <string>Grumpiness</string>
                <string>Frustration</string>
                <string>Disgusted with Self</string>
                <string>Upset</string>
                <string>Anger with Self</string>
                <string>Hostile</string>
                <string>Scornful</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>4</string>
            <key>FeelingInactiveIconID</key>
            <string>14</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>5</string>
            <key>FeelingName</key>
            <string>Sad</string>
            <key>FeelingSubTitle</key>
            <string>Sadness and Depressed</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Depressed</string>
                <string>Suffering</string>
                <string>Dispair</string>
                <string>Hopelessness</string>
                <string>Grief</string>
                <string>Lonely</string>
                <string>Misery</string>
                <string>Melancholy</string>
                <string>Regret</string>
                <string>Disappointment</string>
                <string>Ashamed</string>
                <string>Manic</string>
                <string>Alone</string>
                <string>Guilty</string>
                <string>Disgusted with Self</string>
                <string>Dissatisfied with Self</string>
                <string>Blameworthy</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>5</string>
            <key>FeelingInactiveIconID</key>
            <string>15</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>6</string>
            <key>FeelingName</key>
            <string>Fear</string>
            <key>FeelingSubTitle</key>
            <string>Scared and Worried</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Horror</string>
                <string>Fright</string>
                <string>Shock</string>
                <string>Alarm</string>
                <string>Terror</string>
                <string>Panic</string>
                <string>Hysteria</string>
                <string>Threatened</string>
                <string>Dread</string>
                <string>Horror</string>
                <string>Mortified</string>
                <string>Dismay</string>
                <string>Afraid</string>
                <string>Timid</string>
                <string>Shy</string>
                <string>Scared</string>
                <string>Sheepish</string>
                <string>Loathing</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>6</string>
            <key>FeelingInactiveIconID</key>
            <string>16</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>7</string>
            <key>FeelingName</key>
            <string>Peace / Calm</string>
            <key>FeelingSubTitle</key>
            <string>Peaceful and Calm</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Serenity</string>
                <string>Tranquility</string>
                <string>Relaxed</string>
                <string>Content</string>
                <string>Thankful</string>
                <string>Blissful</string>
                <string>Spiritual</string>
                <string>Placid</string>
                <string>Trust</string>
                <string>At Ease</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>7</string>
            <key>FeelingInactiveIconID</key>
            <string>17</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>8</string>
            <key>FeelingName</key>
            <string>Physical</string>
            <key>FeelingSubTitle</key>
            <string>Physical Feelings</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Tired</string>
                <string>Hungry</string>
                <string>Thirsty</string>
                <string>Low Energy</string>
                <string>High Energy</string>
                <string>Sexy</string>
                <string>Unsexy</string>
                <string>Sexual</string>
                <string>Exhausted</string>
                <string>Drunk</string>
                <string>Hungover</string>
                <string>Sleepy</string>
                <string>Sluggish</string>
                <string>Strong</string>
                <string>Shaky</string>
                <string>Alert</string>
                <string>Active</string>
                <string>Lively</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>8</string>
            <key>FeelingInactiveIconID</key>
            <string>18</string>
        </dict>
        <dict>
            <key>FeelingIndex</key>
            <string>9</string>
            <key>FeelingName</key>
            <string>No Feelings</string>
            <key>FeelingSubTitle</key>
            <string>No Feelings Sub</string>
            <key>FeelingSubFeelings</key>
            <array>
                <string>Feel Nothing</string>
            </array>
            <key>FeelingActiveIconID</key>
            <string>9</string>
            <key>FeelingInactiveIconID</key>
            <string>19</string>
        </dict>
    </array>
</plist>
